@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

body{
    background-color:#f8f9f9;
}
.container {
    margin-top: 200px;
}
.box-container {
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 30px;
}
.lottie-container {
    text-align: center;
}
.lottie-player {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.form-control {
    font-size: 20px;
    padding: 5px;
}
.g-signin2 {
    margin-top: 15px;
    width: 100%;
}
@media (max-width: 768px) {
    .lottie-container {
        margin-bottom: 20px;
    }
}
.login-btn {
    width: 100%;
}
